/* contacto */
#social{
    width: 100%;
    text-align: center;
}
.social__icon{
    margin-left: 0.4em;
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    transition: all ease 0.4s;
}
.social__icon:hover{
    transform: rotate(360deg);
}
#ad{
    transform: scale(1);
    margin-right: 0.5em;
}
.btn-light{
    margin-bottom: 0.5em;
}