/* Día */
$day: 3;

/* index */
.plain-body{
    background: $secondary;
}
#main{
    background-image: url(../img/title_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45em;
}
#gallery{
    width: 750em;
    display: flex;
    flex-wrap: nowrap;
    transform: translateX(0px);
    animation-name: gallery;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 150s;
    align-self: center;
}
.gallery__item{
    display: none;
    width: 100%;
    height: 15em;
    img{
        width: 100%;
        height: 100%;
        align-self: center;
    }
}
#video-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.video{
    padding: 0.5em;
    width: 100%;
    height: 20em;
}
@for $i from 1 through 3{
    #video-#{$i}{
        display: none;
    }
    @if $i == $day{
        #video-#{$i}{
            display: flex;
        }
    }
}
#novedades{
    background-color: $black;
    padding-top: 5em;
    padding-bottom: 5em;
    width: 103%;
}
.carousel{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5em;
    width: 100%;
}
#official-sites{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 90%;
    width: 95vw;
    div{
        display: flex;
        align-items: center;
        text-align: center;
    }
}
.official-img{
    width: 16vw;
    align-self: center;
    transition: all ease 0.2s;
}
.official-img:hover{
    transform: scale(1.2);
}